<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} TITLE {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'crm/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'crm/font_awesome/css/all.css' %}">
    {% endblock %}

    {% block emptystyles %}
    {% endblock %}
</head>

<body>
    <div id='header' class="w3-container">
        {% block header %}
        {% include 'crm/base_header.html' %}
        {% endblock %}

        {% block subheader %}
        <!--  -->
        {% endblock %}
    </div>

    <div id='content' class="w3-container">
        {% block content %}
        {% include 'crm/base_content.html' %}
        {% endblock %}
    </div>

    <div id='footer' class="w3-container">
        {% block footer %}
        {% include 'crm/base_footer.html' %}
        {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'crm/js/filter.js' %}"></script>
    {% block emptyjs %}
    {% endblock %}
</body>

</html>