<div class="w3-bar w3-border w3-light-gray nav1">
    <a href="/" class="w3-bar-item w3-button w3-light-green"><i class="fa fa-home"></i></a>
    <a href="{% url 'my_clients' %}" class="w3-bar-item w3-button w3-hover-lime">Clients</a>
    <a href="{% url 'my_orders' %}" class="w3-bar-item w3-button w3-hover-lime">Orders</a>
    <a href="{% url 'my_activities' %}" class="w3-bar-item w3-button w3-hover-lime">Activities</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hover-lime w3-right"><i class="fa fa-sign-out"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-hover-lime w3-right">Profile</a>
       <form id='search_form' method="GET" action="{% url 'search_clients' %}" class="w3-bar-item  w3-hover-lime w3-right" style="display: none" >
           <input type="text" name="name" placeholder="Type client name">
       </form>
        <i class="fa fa-search w3-bar-item  w3-hover-lime w3-right" onclick='$("#search_form").show()'></i>
</div>