{% extends 'crm/base.html' %}

{% block title %}CRM My clients{% endblock %}

{% block subheader %}
    <div class="w3-bar w3-border w3-small w3-white nav2">
        <a href="{% url 'my_clients' %}" class="w3-bar-item w3-button w3-light-green">My clients</a>
        <a href="{% url 'all_clients' %}" class="w3-bar-item w3-button w3-hover-lime">All clients</a>
    </div>
{% endblock %}

{% block content %}
{% include 'crm/clients/my_clients_panel.html' %}

    <table class="w3-table">
    <tr>
        <th>Name</th>
        <th>Owner </th>
        <th>Planned activities</th>
        <th>Open orders </th>
        <th>Assigned by</th>
    </tr>
    {% for client in object_list %}
    <tr>
        <td><a href="{% url 'client_detail' client.id  %}">
        {{client.name}}</a></td>
        
        <td>{{client.owned_by}}</td>
        <td>{{client.n_open_activities}}</td>
        <td>{{client.n_open_orders}}</td>
        <td>{{client.assigned_by}}</td>
    </tr>
    {% empty %}
    {% endfor %}
</table>

{% include 'crm/pagination.html' %}

{% endblock %}