{% extends 'crm/base.html' %}

{% block content %}

{% include 'crm/deals/deal_detail_subheader.html' %}
<div class="w3-cell-row">
<div class="w3-container w3-cell" style="width: 70%">
    Deal info    
<p><b>Description: </b>{{  object.des }}</p>
<p><b>Status: </b>{{  object.get_status_display }}</p>
<p><b>Planned date: </b>{{  object.planned_date}}</p>
<p><b>Fact date: </b>{{  object.fact_date}}</p>
</div>
<div class="w3-container w3-cell" style="width: 30%">
    <p><b>ID:</b>{{ object.id  }}</p>
    <p><b>Name:</b>{{  object.name }}</p>

    <p><b>Created:</b>{{  object.created}}</p>
    <p><b>Created by:</b>{{  object.created_by}}</p>
    <p><b>Owned:</b>{{  object.owned}}</p>
    <p><b>Owned by:</b>{{  object.owned_by}}</p>
    <p><b>Assigned:</b>{{  object.assigned}}</p>
    <p><b>Assigned by:</b>{{  object.assigned_by}}</p>
    <p><b>Modified:</b>{{  object.modified}}</p>
    <p><b>Modified by:</b>{{  object.modified_by }}</p>
</div>
</div>
<hr>
<div class="w3-bar">
    <div class="w3-tag w3-light-green">Related actions:</div>
    <div class="w3-right">
    <a href="{% url 'add_action' %}?related_activity={{ object.id }}">
        <i class="w3-xxlarge fa fa-bullseye add_plus_show" style="display: none"></i>
    </a>
    <a href="{% url 'add_deal' %}?related_activity={{ object.id }}">
        <i class="w3-xxlarge fa fa-handshake add_plus_show" style="display: none"></i>
    </a>
    <a href="{% url 'add_order' %}?related_activity={{ object.id }}">
        <i class="w3-xxlarge fas fa-file-invoice-dollar add_plus_show" style="display: none"></i>
    </a>
    <i id="add_plus" class="w3-xxlarge fas fa-plus" onclick='$(".add_plus_show").show(); $("#add_plus").hide()'></i>
    </div>
</div>
<table class="w3-table">
    <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Owned by </th>
        <th>Planned date</th>
        <th>Fact date</th>
        <th>Result </th>
        <th>Assigned by</th>
    </tr>
    {% for action in view.get_child_activities %}
    <tr>
        <td>
            <a href="{% url 'activity_detail' activity.id %}">{{activity.get_type}}</a></td>
        <td>{{activity.des}}</td>
        <td>{{activity.owned_by}}</td>
        <td>{{activity.planned_date}}</td>
        <td>{{activity.fact_fate}}</td>
        <td>{{activity.result}}</td>
        <td>{{activity.assigned_by}}</td>
    </tr>
    {% empty %}
    None
    {% endfor %}
</table>

{% include 'crm/pagination.html' %}
{% endblock %}